body{
	background: linear-gradient(to bottom, #5b86e5, #c4e0e5);
}

h1 {
	font-family: 'Oswald', sans-serif;
}

h2 {
	font-family: 'Oswald', sans-serif;
}

h3{
	font-family: 'Oswald', sans-serif;
}

h5{
	font-family: 'Oswald', sans-serif;
}


p {
	font-family: 'Lato', sans-serif;
}

a {
	font-family: 'Lato', sans-serif;
}

small {
	font-family: 'Lato', sans-serif;
}

strong {
	font-family: 'Lato', sans-serif;
}